	<div class="side-nav fixed indent">
		<ul>
			<li>
				<a class="btn" id="home" href="/home.html">Home</a>
			</li>
			<li>
				<a class="btn" id="addTopic" href="/addTopic">Add Topic</a>
			</li>
			<li>
				<a class="btn" id="login" href="/admin">Login</a>
			</li>
		</ul>
   </div>