<!DOCTYPE html>
<html>
<head>
	<title>Add Topic</title>
	<% include ../partials/head.ejs %>
	<script src="../javascript/admin.js"></script>
</head>
<body>
	<header>
		<% include ../partials/header.ejs %>
		<% include ../partials/menu.ejs %>
	</header>
	<main>
		<div class="row">
			<div class="col s12 m5 l5 offset-s6 push-s3 push-m3 push-l3">
				<div class="card">
					<div class="card-content">
						<label for="topicName" class="black-text">Topic Name: *</label>
						<input type="text" id="topicName" placeholder="e.g. for loop">

						<label for="description" class="black-text">Description: *</label>
						<input type="text" id="description" placeholder="e.g. run code a set number of times">

						<label for="tip" class="black-text">Helpful Tips: </label>
						<input type="text" id="tip" placeholder="optional">

						<label for="location" class="black-text">Picture Name: *</label>
						<input type="text" id="location" placeholder="e. g. forloop.gif">

						<div>* Require Fields</div>
					</div>
					<div class="card-action">
						<button class="btn black white-text" onclick="addTopic();">Add Topic</button>
					</div>
					<div id="message" class="card-content hide">
						<ul id="messageList">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>