<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<% include ../partials/head.ejs %>
	<script src="../javascript/login.js"></script>
</head>
<body>
	<header>
		<% include ../partials/header.ejs %>
		<% include ../partials/menu.ejs %>
	</header>
	<main>
		<div class="row">
			<div class="col s12 m5 l5 offset-s6 push-s3 push-m3 push-l3">
				<div class="card">
					<div class="card-content">
						<label for="username" class="black-text">User Name: </label>
						<input type="text" id="username">
						<label for="password" class="black-text">Password: </label>
						<input type="password" id="password">
						<label for="confirmPassword" class="black-text">Confirm Password: </label>
						<input type="password" id="confirmPassword">
					</div>
					<div class="card-action">
						<button class="btn blue lighten-1 black-text" onclick="login();">Log in</button>
						<button class="btn blue lighten-1 black-text" onclick="logout();">Log out</button>
					</div>
					<div id="message" class="card-content hide">
						<ul id="messageList">
						</ul>
					</div>
					<div id="status"></div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>